* {
    background-color: rgb(174, 174, 238);
}

section {
    margin: 10px;
    border: 1px rgb(221, 78, 12) solid;
    padding: 10px;
}

p {
    /* padding: 30px; */
    border: rgb(15, 10, 0) solid 2px;
    padding-top: 10px;
    padding-left: 5px;
    padding-bottom: 6px;
    padding-right: 20px;
    background-color: rgb(224, 144, 144);
}