section{
    margin: auto;
    border: 2px rgb(120, 2, 238) solid;
    height: 500px;
    width: 70%;
    }

div{
border: 2px rgb(7, 0, 14) solid;
height: 70%;
width: 20%;
margin: auto;
margin: 4%;
padding: 20px;
}
div, h1.box box1{
font: 700;
text-align: center;
}

div, h1.box box1, p{
    text-align: center;
}

div.box box1, button{
background-color: black;
color: white;
width: 90%;
height: 35px;

}